.app-list-container {
  border: solid;
  border-width: 0 0 0 5px;
  border-color: #343a40;
  width: 20em;
}

mat-list {
  color: rgb(80, 77, 77);
}

mat-list-item:hover {
  cursor: pointer;
  opacity: 0.8;
}
