<mat-card *ngIf="image != undefined">
  <mat-card-header>
    <mat-card-title>{{ image.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ image.src }}" alt="Photo" />
  <mat-card-content>
    <app-dynamic-json-form [json]="dynamicJSON"></app-dynamic-json-form>
  </mat-card-content>
  <mat-card-actions style="display:flex; flex-direction:row; justify-content:space-between;">
    <button mat-button>Previous</button>
    <button mat-button>Next</button>
  </mat-card-actions>
</mat-card>
