.app-tree-container {
  display: flex;
  flex-direction: column;
  background-color: #e9ecef;
  border-radius: 0.3em;
  width: 20em;
  height: 100%;
  box-sizing: border-box;
}

tree {
  display: block;
  overflow-y: auto;
  margin-left: -20px;
}

app-loader {
  display: table;
  margin: 0 auto;
}
